@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459Wlhzg.ttf) format('truetype');
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  font-size: 62.5%;
  color: #292826;
}
h1 {
  font-size: 2.6rem;
}
@media (min-width: 840px) {
  h1 {
    font-size: 3.6rem;
  }
}
h2 {
  font-size: 2.1rem;
}
@media (min-width: 840px) {
  h2 {
    font-size: 3.1rem;
  }
}
h3 {
  font-size: 2.1rem;
}
h4 {
  font-size: 1.9rem;
}
h5 {
  font-size: 1.5rem;
}
h1,
h2,
h3,
h4,
h5,
h6,
a,
p {
  font-family: 'Montserrat', sans-serif;
}
body {
  background: white;
}
p {
  font-size: 1.6rem;
  font-family: 'Montserrat', sans-serif;
  line-height: 2.4rem;
}
button {
  font-size: 2.5rem;
}
.nav-header,
footer {
  display: flex;
  flex-wrap: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 0;
  text-align: center;
}
.nav-header .logo-div,
footer .logo-div {
  display: flex;
  flex-wrap: none;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.nav-header .logo-div img,
footer .logo-div img {
  width: 6rem;
  margin-right: 1rem;
}
@media (min-width: 840px) {
  .nav-header .logo-div img,
  footer .logo-div img {
    width: 10rem;
    margin-right: 2rem;
  }
}
.nav-header h1,
footer h1,
.nav-header h2,
footer h2,
.nav-header h3,
footer h3,
.nav-header h4,
footer h4,
.nav-header h5,
footer h5,
.nav-header h6,
footer h6,
.nav-header a,
footer a {
  text-transform: uppercase;
}
.nav-header h1,
footer h1 {
  color: #68635f;
}
.nav-header h2,
footer h2 {
  margin: 2rem 0;
  color: #dfdfdf;
}
.nav-header nav,
footer nav {
  display: flex;
  justify-content: space-between;
}
.nav-header nav a,
footer nav a {
  color: #c2bcb6;
  text-decoration: none;
  padding-right: 1.5rem;
}
@media (min-width: 840px) {
  .nav-header nav a,
  footer nav a {
    padding: 1.4rem 4rem;
  }
}
.nav-header nav a:hover,
footer nav a:hover {
  transition: 0.2s;
  color: #292826;
}
.nav-header nav .active,
footer nav .active {
  color: #292826;
  text-decoration: underline;
}
.nav-header .mainnav a,
footer .mainnav a {
  font-size: 1.4rem;
  padding-top: 1rem;
}
@media (min-width: 840px) {
  .nav-header .mainnav a,
  footer .mainnav a {
    font-size: 2.2rem;
  }
}
.nav-header .subnav a,
footer .subnav a {
  font-size: 1rem;
  padding-top: 2rem;
}
@media (min-width: 840px) {
  .nav-header .subnav a,
  footer .subnav a {
    font-size: 1.4rem;
  }
}
.nav-header p,
footer p {
  padding: 20px 0;
}
@media (min-width: 840px) {
  .nav-header p,
  footer p {
    text-align: center;
  }
}
.footer-divider {
  width: 80%;
  margin-bottom: 3rem;
}
#projects {
  width: 80%;
  max-width: 1100px;
  margin: 0px auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
#projects .proj {
  font-size: 2rem;
  width: 98%;
  margin: 1rem 0;
  text-decoration: none;
  color: #292826;
  transition: 0.5s ease;
}
@media (min-width: 840px) {
  #projects .proj {
    width: 30%;
  }
}
#projects .proj:hover {
  opacity: 0.5;
}
#projects .proj .preview-cont {
  width: 100%;
}
#projects .proj img {
  margin: auto auto;
  width: 90%;
}
#projects .proj .text-cont {
  margin: 1rem 0%;
  text-align: center;
}
@font-face {
  font-family: 'Calligraffitti';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Calligraffitti Regular'), local('Calligraffitti-Regular'), url(https://fonts.gstatic.com/s/calligraffitti/v11/46k2lbT3XjDVqJw3DCmCFjE0vkFeOZI.ttf) format('truetype');
}
#about {
  width: 80%;
  max-width: 1100px;
  margin: 0px auto;
}
#about .hey {
  font-family: 'Calligraffitti', cursive;
  font-size: 4.3rem;
}
#about .about-cont {
  display: flex;
  flex-wrap: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 840px) {
  #about .about-cont {
    display: flex;
    flex-wrap: none;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
#about .about-img {
  width: 100%;
  max-width: 100%;
}
@media (min-width: 840px) {
  #about .about-img {
    width: 42%;
  }
}
#about .about-text {
  text-align: center;
  width: 100%;
  padding: 0 4rem;
}
@media (min-width: 840px) {
  #about .about-text {
    width: 53%;
  }
}
#about .about-text p {
  margin: 2rem 0;
  line-height: 2rem;
}
#about .about-text .email {
  font-weight: bold;
  font-size: 2.1rem;
}
#about .social-icons {
  margin-top: 20px;
  margin: 2rem 0;
}
#about .social-icons a {
  text-decoration: none;
  color: black;
  font-size: 2rem;
  font-size: 3.5rem;
  margin: 0 10px;
}
#project-details .page-header {
  text-align: center;
  width: 80%;
  max-width: 1100px;
  margin: 0px auto;
  margin: 4rem auto;
  margin-bottom: 8rem;
}
#project-details .section-bar {
  background: #eeeeee;
  text-align: center;
  padding: 1rem 0;
}
#project-details .section-bar h3 {
  text-transform: uppercase;
}
#project-details .text-cont {
  padding: 2rem;
}
#project-details .text-cont h4,
#project-details .text-cont h5,
#project-details .text-cont p {
  margin: 1.5rem 0;
}
#project-details .text-cont h4 {
  font-weight: bold;
}
#project-details .text-cont h5 {
  font-weight: 100;
  font-style: italic;
  color: #968f8a;
}
#project-details .text-cont p {
  color: #68635f;
}
#project-details .text-cont a {
  font-size: 1.3rem;
}
#project-details .section-content {
  width: 80%;
  max-width: 1100px;
  margin: 0px auto;
  padding: 4rem;
  margin: 2rem auto;
}
#project-details .default img {
  width: 100%;
}
#project-details .gray {
  background: #f5f5f5;
}
#project-details .right-left {
  display: flex;
  flex-wrap: none;
  flex-direction: column-reverse;
  justify-content: space-evenly;
  align-items: center;
}
@media (min-width: 840px) {
  #project-details .right-left {
    display: flex;
    flex-wrap: none;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
}
#project-details .right-left .left,
#project-details .right-left .right {
  width: 98%;
}
@media (min-width: 840px) {
  #project-details .right-left .left,
  #project-details .right-left .right {
    width: 48%;
  }
}
#project-details .right-left .two-third-image {
  width: 98%;
}
@media (min-width: 840px) {
  #project-details .right-left .two-third-image {
    width: 65%;
  }
}
#project-details .right-left .one-third-text {
  width: 98%;
}
@media (min-width: 840px) {
  #project-details .right-left .one-third-text {
    width: 32%;
  }
}
#project-details .top-bottom {
  display: flex;
  flex-wrap: none;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
#project-details .top-bottom .top,
#project-details .top-bottom .bottom {
  width: 100%;
}
#project-details .two-image {
  display: flex;
  flex-wrap: none;
  flex-direction: column-reverse;
  justify-content: space-evenly;
  align-items: center;
}
@media (min-width: 840px) {
  #project-details .two-image {
    display: flex;
    flex-wrap: none;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
}
#project-details .two-image .default {
  width: 98%;
}
@media (min-width: 840px) {
  #project-details .two-image .default {
    width: 32%;
  }
}
#project-details .two-image .small {
  width: 63%;
}
@media (min-width: 840px) {
  #project-details .two-image .small {
    width: 25%;
  }
}
#project-details .two-image .large {
  width: 98%;
}
@media (min-width: 840px) {
  #project-details .two-image .large {
    width: 39%;
  }
}
#project-details .two-image img {
  width: 100%;
}
#project-details .right-left-reverse {
  display: flex;
  flex-wrap: none;
  flex-direction: column-reverse;
  justify-content: space-evenly;
  align-items: center;
}
@media (min-width: 840px) {
  #project-details .right-left-reverse {
    display: flex;
    flex-wrap: none;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
}
#project-details .right-left-reverse img {
  height: 150px;
  width: 100%;
}
#project-details .bandages {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
#project-details .bandages img {
  margin: 1rem 0;
  width: 30%;
}
@media (min-width: 840px) {
  #project-details .bandages img {
    width: 13%;
  }
}
