/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Lora Regular'), local('Lora-Regular'), url(https://fonts.gstatic.com/s/lora/v14/0QIvMX1D_JOuMwr7Jg.ttf) format('truetype');
}
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Nunito Regular'), local('Nunito-Regular'), url(https://fonts.gstatic.com/s/nunito/v12/XRXV3I6Li01BKofINeaE.ttf) format('truetype');
}
div {
  border: 1px solid black;
}
html {
  font-size: 62.5%;
  color: #1A202C;
}
h1 {
  font-size: 5rem;
  font-weight: bold;
}
h2 {
  font-size: 3.5rem;
}
h3 {
  font-size: 2.3rem;
}
h1,
h2,
h3,
h4,
h5,
h6,
a {
  text-transform: uppercase;
}
h1,
h2,
h3,
h4,
h5,
h6,
a,
p {
  font-family: 'Nunito', sans-serif;
}
body {
  background: white;
}
p {
  font-size: 2rem;
  line-height: 2.1rem;
}
button {
  font-size: 2.5rem;
}
.nav-header,
footer {
  display: flex;
  flex-wrap: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 0;
  text-align: center;
}
.nav-header h2,
footer h2 {
  margin: 2rem 0;
  color: #CBD5E0;
}
.nav-header nav,
footer nav {
  display: flex;
  justify-content: space-between;
}
.nav-header nav a,
footer nav a {
  color: #A0AEC0;
  text-decoration: none;
  font-size: 2rem;
  font-size: 2.2rem;
  padding-right: 15px;
}
@media (min-width: 840px) {
  .nav-header nav a,
  footer nav a {
    padding: 15px;
  }
}
.nav-header nav a:hover,
footer nav a:hover {
  transition: 0.2s;
  color: #1A202C;
}
.nav-header nav .active,
footer nav .active {
  color: #1A202C;
}
.nav-header p,
footer p {
  padding: 20px 0;
}
@media (min-width: 840px) {
  .nav-header p,
  footer p {
    text-align: center;
  }
}
#projects {
  width: 80%;
  margin: 0px 10%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
#projects .proj {
  font-size: 2rem;
  width: 98%;
  margin: 1rem 0;
  text-decoration: none;
  color: #1A202C;
  transition: 0.5s ease;
}
@media (min-width: 840px) {
  #projects .proj {
    width: 48%;
  }
}
#projects .proj:hover {
  opacity: 0.5;
}
#projects .proj .preview-cont {
  width: 100%;
  height: 400px;
  overflow: hidden;
  position: relative;
}
#projects .proj img {
  position: absolute;
  margin: auto;
}
#projects .proj .text-cont {
  margin: 1rem 0%;
  text-align: center;
}
#about {
  width: 80%;
  margin: 0px 10%;
}
#about .hey {
  height: 70px;
  width: 80%;
  margin: 2rem 0;
}
#about .about-cont {
  display: flex;
  flex-wrap: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 840px) {
  #about .about-cont {
    display: flex;
    flex-wrap: none;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
#about .about-img {
  width: 100%;
  max-width: 100%;
}
@media (min-width: 840px) {
  #about .about-img {
    width: 39%;
  }
}
#about .about-text {
  text-align: center;
  width: 100%;
  padding: 0 4rem;
}
@media (min-width: 840px) {
  #about .about-text {
    width: 53%;
  }
}
#about .about-text p {
  margin: 2rem 0;
  line-height: normal;
}
#about .about-text .email {
  font-weight: bold;
  font-size: 2.5rem;
}
#about .social-icons {
  margin-top: 20px;
  margin: 2rem 0;
}
#about .social-icons a {
  text-decoration: none;
  color: black;
  font-size: 2rem;
  font-size: 3.5rem;
  margin: 0 10px;
}
.section-bar {
  background: #E2E8F0;
  text-align: center;
  padding: 1rem 0;
}
.text-cont {
  padding: 2rem;
}
.text-cont h3,
.text-cont h4,
.text-cont p {
  margin: 1rem 0;
}
.section-content {
  width: 80%;
  margin: 0px 10%;
  margin: 5rem auto;
}
.default img {
  width: 50%;
}
.gray {
  background: #E2E8F0;
}
.right-left {
  display: flex;
  flex-wrap: none;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.right-left .left,
.right-left .right {
  width: 48%;
}
.top-bottom {
  display: flex;
  flex-wrap: none;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.top-bottom .top,
.top-bottom .bottom {
  width: 100%;
}
.abena-web-composite {
  height: 500px;
  width: 48%;
  position: relative;
}
.abena-web-composite img {
  width: 300px;
  height: 300px;
}
.abena-web-composite .abs {
  position: absolute;
}
.abena-web-composite .one {
  top: 180px;
  left: 50px;
}
.abena-web-composite .two {
  top: 80px;
  left: 150px;
}
.top-bottom-sub {
  display: flex;
  flex-wrap: none;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.top-bottom-sub img {
  height: 150px;
  width: 100%;
}
.top-bottom-sub .text-cont {
  width: 90%;
}
.right-left-sub {
  display: flex;
  flex-wrap: none;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.right-left-sub img {
  height: 150px;
  width: 50%;
}
.bandages {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.bandages img {
  width: 10%;
}
