.section-bar{
    background: @gray300;
    text-align: center;
    padding: 1rem 0;
}

.text-cont{
    padding: 2rem;

    h3, h4, p{
        margin: 1rem 0;
    }
}

.section-content{
    .limit-max-width();
    margin: 5rem auto;
}

.default{
    img{
        width: 100%;
    }
}

.gray{
    background: @gray300;
}

.right-left{
    .flex(row, space-evenly, none);

    .left, .right{
        width: 48%;
    }
}

.top-bottom{
    .flex(column, space-evenly, none);

    .top, .bottom{
        width: 100%;
    }
}

// --- ----------- - -- -  -- - -  -- 

.abena-web-composite{
    height: 500px;
    width: 48%;
    position: relative;

    img{
        width: 300px;
        height: 300px;
    }
    .abs{
        position: absolute;
    }
    .one{
        top: 180px;
        left: 50px;
    }
    .two{
        top: 80px;
        left: 150px;
    }
}

.top-bottom-sub{
    .flex(column, space-evenly, none);

    img{
        height: 150px;
        width: 100%;
    }
    .text-cont{
        width: 90%;
    }
}

.right-left-sub{
    .flex(row, space-evenly, none);

    img{
        height: 150px;
        width: 50%;
    }
}

.bandages{
    .flex(row, space-evenly, wrap);
    img{
        width: 10%;
    }
}