#project-details{
    .page-header{
        text-align: center;
        .limit-max-width();
        margin: 4rem auto;
        margin-bottom: 8rem;
    }

    .section-bar{
        background: @gray300;
        text-align: center;
        padding: 1rem 0;
        
        h3{
            text-transform: uppercase;
        }
    }
    
    .text-cont{
        // padding: 2rem;
        padding: 2rem 4rem 4rem 4rem;
        // border: 1px solid red;
    
        h4, h5, p{
            margin: 1.5rem 0;
        }

        h4{
            font-weight: bold;
        }

        h5{
            font-weight: 100;
            font-style: italic;
            color: @gray600;
        }
        p{
            color: @gray700;
        }
        a{
            font-size: 1.3rem;
        }
    }
    
    .section-content{
        .limit-max-width();
        padding: 4rem;
        margin: 2rem auto;
        // max-width: 100%;
    }
    
    .default{
        img{
            width: 100%;
        }
    }
    
    .gray{
        background: @gray100;
    }
    
    .right-left{
        .flex(column-reverse, space-evenly, none);
        
        @media @tablet{
            .flex(row, space-evenly, none);
        }
    
        .left, .right{
            width: 98%;
            @media @tablet{
                width: 48%;
            }
        }

        .two-third-image{
            width: 98%;
            @media @tablet{
                width: 65%;
            }
        }
        .one-third-text{
            width: 98%;
            @media @tablet{
                width: 32%;
            }
        }
    }

    
    .top-bottom{
        .flex(column, space-evenly, none);
    
        .top, .bottom{
            width: 100%;
        }
    }

    .two-image{
        .flex(column-reverse, space-evenly, none);
        @media @tablet{
            .flex(row, space-evenly, none);
        }
    
        .default{
            width: 98%;
            @media @tablet{
                width: 32%;
            }
        }

        .small{
            width: 63%;
            @media @tablet{
                width: 25%;
            }
        }

        .large{
            width: 98%;
            @media @tablet{
                width: 39%;
            }
        }

        img{
            width: 100%;
        }

    }
    
    // --- ----------- - -- -  -- - -  -- 

    .right-left-reverse{
        .flex(column-reverse, space-evenly, none);
        @media @tablet{
            .flex(row, space-evenly, none);
        }
    
        img{
            height: 150px;
            width: 100%;
        }
    }

    .bandages{
        .flex(row, space-evenly, wrap);
        img{
            margin: 1rem 0;
            width: 30%;
            @media @tablet{
                width: 13%;
            }
        }
    }
    
    .site{
        .site-main{
            width: 40%;
        }
        .site-side{
            width: 60%;
        }
    }
    
    
}
