#project-details{
    .page-header{
        text-align: center;
        .limit-max-width();
        margin: 0rem auto 4rem auto;
        @media @tablet{
            margin: 4rem auto 8rem auto;
        }
    }

    .section-bar{
        background: @gray300;
        text-align: center;
        padding: 1rem 0;
        
        h3{
            text-transform: uppercase;
        }
    }

    .section-content{
        .limit-max-width();
        padding: 3rem 2rem;
        margin: 1rem auto 2rem auto;
        @media @tablet{
            margin: 20px auto 40px auto;
        }

        .text-cont{
            padding: 1rem;
            @media @tablet{
                padding: 2rem 4rem 4rem 4rem;
            }
        
            h4, h5, p{
                margin: 1.5rem 0;
            }
    
            h4{
                font-weight: bold;
            }
    
            h5{
                font-weight: 100;
                font-style: italic;
                color: @gray600;
            }
            p{
                color: @gray700;
            }
            a{
                font-size: 1.3rem;
            }
        }
    }

    .art, .all-the-long-way{
        .limit-max-width();
        .flex(column-reverse, center, none);
        
        margin: 3rem auto 2rem auto;
        @media @tablet{
            margin: 7rem auto 2rem auto;
        }

        img{
            max-width: 100%;
            max-height: 80vh;
        }
        
    }

    .all-the-long-way{
        .flex(column, center, none);
        @media @tablet{
            .flex(row, center, none);
        }

        .vert-art{
            margin: 0 40px;
            @media @tablet{
                margin: 0 80px;
            }
        }

        .tech{
            margin-bottom: 30px;
            @media @tablet{
                margin-bottom: 0px;
            }
        }
    }

    .art-text{
        margin-top: 0.5rem;
        @media @tablet{
            margin-top: 2rem;
        }

        h5{
            font-style: italic;
            color: @gray700;
            font-size: 1.4rem;
            @media @tablet{
                font-size: 2rem;
            }
        }
        p{
            color: @gray700;
            font-size: 1.0rem;
            @media @tablet{
                font-size: 1.5rem;
            }
        }
    }
    
    .default{
        img{
            width: 100%;
        }
    }
    
    .gray{
        background: @gray100;
    }
    
    .right-left{
        .flex(column-reverse, space-evenly, none);
        
        @media @tablet{
            .flex(row, space-evenly, none);
        }
    
        .left, .right{
            width: 98%;
            @media @tablet{
                width: 48%;
            }
        }

        .two-third-image{
            width: 98%;
            @media @tablet{
                width: 65%;
            }
        }
        .one-third-text{
            width: 98%;
            @media @tablet{
                width: 32%;
            }
        }
    }
    
    .top-bottom{
        .flex(column, space-evenly, none);
    
        .top, .bottom{
            width: 100%;
        }
    }

    .two-image{
        .flex(column, space-evenly, none);
    }

    .two-image-reverse{
        .flex(column-reverse, space-evenly, none);
    }

    .two-image, .two-image-reverse{
        @media @tablet{
            .flex(row, space-evenly, none);
        }
    
        .default{
            width: 98%;
            @media @tablet{
                width: 32%;
            }
        }

        .small{
            width: 63%;
            @media @tablet{
                width: 25%;
            }
        }

        .large{
            width: 98%;
            @media @tablet{
                width: 39%;
            }
        }

        img{
            width: 100%;
        }

    }

    .right-left-reverse{
        .flex(column-reverse, space-evenly, none);
        @media @tablet{
            .flex(row, space-evenly, none);
        }
    
        img{
            height: 150px;
            width: 100%;
        }
    }

    .bandages{
        .flex(row, space-evenly, wrap);
        img{
            margin: 1rem 0;
            width: 30%;
            @media @tablet{
                width: 13%;
            }
        }
    }
    
    .site{
        .site-main{
            width: 100%;
            @media @tablet{
                width: 40%;
            }
        }
        .site-side{
            width: 100%;
            @media @tablet{
                width: 60%;
            }
        }
    }
}