@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

@section-background: rgb(238, 238, 238);

@white: white;
@gray100:rgb(245, 245, 245);
@gray300: rgb(238, 238, 238);
@gray400: rgb(223, 223, 223);
@gray500: rgb(194, 188, 182);
@gray600: #968f8a;
@gray700: rgb(104, 99, 95);
@gray900: rgb(41, 40, 38);



@max-content-width: 1300px;

@content-width: 80%;

@header-font: 'Montserrat', sans-serif;
@paragraph-font: 'Montserrat', sans-serif;

@tablet: ~'(min-width: 840px)';

@desktop: ~'(min-width: 1000px)';

@school-color: black;
